
.credit-entry-row button{
    width: 20%;
    height: 10vh;
    margin-left: 5%;
    color: #ffffff;
    background: none;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.582), 0 3px 10px 0 rgba(0, 0, 0, 0.561);
    border: none;
}
.credit-entry-row{
    
    
}
#creditinput{
    background-color:#191e24;
    width: 90%;
    height: 9vh;
    margin-bottom: 10%;
    border: 2px solid white;
    border-radius: 16px;
    padding-left: 4%;
    
}
#creditinput::placeholder{
    color: white;
    font-size: 30px;
    font-weight: bold;
    
}
#budget-parent{
    position: absolute;
height: 100%;
width: 100%;
  

  
}



#credits-topbar{
    background-color: #c56c86;
    width: 70%;
    height: 150px;
    margin-bottom: 21%;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
}
#credits-topbar img{
    width: 45px;
    position: relative;
    top: 14px;
   
    
}
#credits-topbar h1{
    color: rgb(0, 0, 0);
    font-size: 23px;
    text-align: center;
}
#credits-topbar h2{
    font-size: 32px;
    color: white;
}
#credit-parent{
    position: relative;
   
}
#complete{
    margin-top: 2%;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #C56C86;
    height: 7vh;
    width: 45%;
    position: relative;
    left: -1%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.582), 0 3px 10px 0 rgba(0, 0, 0, 0.561);
}
#cancel-credit{
    
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #C56C86;
    height: 7vh;
    width: 45%;

    position: relative;
    right: -2%;
    opacity: 0.6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.582), 0 3px 10px 0 rgba(0, 0, 0, 0.561);
}
#bottom{
    position: relative;
    left: 12.5%;
}
.num1{

}
.num2{

}
.num3{

}