
img{
    width: 140px;
    position: relative;
    left: -14%;

}

.desktop-buttons-btm{
    border-radius: 50%;
    width: 105px;
    height: 105px;
    overflow: hidden;
    margin-top: 6%;
    margin-left: 5%;
}
#wallet-btm{
    background-color: #FF7582;
}
#upload-btm{
    background-color: #355C7D;
}
#review-btm{
    background-color: #725A7A;
}