
.list-component{
    background-color: #101317;
    width: 97%;
    height: 100%;
    border-radius: 4px;
    padding: 1%;
    margin-bottom: 7%;
    position: relative;
    
  }
  .list-component b {
    color: #fff;
    position: absolute;
    left: 3%;
    top: 7%;
    font-size: 1.15em;
  
  }
  .songs-container p{
    color: #fff;
    font-size: large;
    position: relative;
    
  }
  .list-component img{
    position: relative;
    right: -40%;
    top: 22%;
    width: 48px;
    border-radius: 50%;
  }
  .songs-container{
    height: 40%;
   
    border-radius: 6px;
  }
  
  