



#my-songs-count{

    color: rgb(116, 116, 116);
  
   font-size: 38px;
   position:absolute;
    left: 50%;
    z-index: 1000;
    top: 7%;
    text-align: center;
    
  
  }
  
  
  #my-songs-header  {
    color: #fff;
   
    text-align: center;

  
  }
  