



#my-songs-count{

    color: rgb(116, 116, 116);

    font-size: 38px;
    position: absolute; top: -72%;
    left: 117%;
    
  
  }
  
  
  #my-songs-header  {
    color: #fff;
    position: absolute;
 
    left: 10%;
  
  }
  #my-songs-separator{
    color: rgb(116, 116, 116);
    font-size: 78px;
    
  
  
  }