#Header h1{
    color: #fff;
    font-size: 320%;
}
#Header button{
    color: #fff;
    border: none;
    background-color: #FF7582;
    font-weight: bold;
    font-size: 110%;
    width: 26%;
    height: 6vh;
    border-radius:12px;
    position: relative;
    top: 6px;
    left: 36%;
}
#Header a {
    text-decoration: underline;
}
#Header h3{
    color: rgb(199, 198, 198);
}
#Header p {
    width: 70%;
}
#summary{
    color: rgb(199, 198, 198);
    font-size: large;
    font-weight: bold;
}
.bottom-form{
 color: #fff;
}
#terms{
    color: rgb(165, 165, 165);
    font-size: medium;
    
}