.song-options {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    float: left;
    top: 34%;
    right: 12%;
    
  }
  
  .song-options li{
    list-style-type: none;
    
    overflow: hidden;
    display: inline;
    position: relative;
    padding: 3%;
    font-size: 1em;
  }
  .song-options-grey{
    text-decoration: none;
    color: rgb(182, 182, 182);
  }
  .song-options-red{
    text-decoration: none;
    color: #C56C86;
  }